@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.slick-prev:before, .slick-next:before {
  color: #001f3f;
  margin-right: -10px;
  margin-left: -10px;
  font-size: 30px;
}


.slick-list {margin: 0 -5px;}
.slick-slide>div {padding: 0 10px;}

/* Add this CSS to your stylesheet */
.custom-list {
  list-style-type: none;
  padding: 0;
}

.custom-list li::before {
  content: "- "; /* This is a horizontal dash */
  color: #000; /* You can change the color if you like */
  font-weight: bold; /* You can make it bold if you like */
  margin-right: 5px; /* Adjust spacing as needed */
}

